.mood-element {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding: 4rem;
}

.mood-element button {
  padding: .7rem 1rem;
  border-radius: .5rem;
  border: none;
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
}

.mood-element button:active {
  scale: .97;
}

.user-video-feed {
  width: 20rem;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  object-fit: cover;
}